@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 3em;
  min-height: 500vh;
}

h1 {
  height: 25vh;
  text-align: center;
}
.pigWrapper,
.intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4em 0;
}

.pig1,
.pig2,
.pig3,
.motherPig {
  width: 25%;
  padding: 2.5em;
}
/* have img classes that are named based on the kind of animation */

.imgRotate {
  /* position: fixed; make sure it stays put so we can see it! */
  display: inline-block;
  animation: rotate 0.2s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

.strawHut,
.logCabin,
.brickHouse {
  display: flex;
  justify-content: space-around;
  margin: 18em 5em;
}

.imgScale {
  display: inline-block;
  animation: scale 0.2s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

.fa-ellipsis-v {
  transform: rotate(55deg);
  position: absolute;
  top: 30%;
  left: 25%;
  color: lightgray;
}

.wolfPlot {
  height: 130vh;
  position: relative;
}

.wolf {
  position: absolute;
  bottom: 35%;
  left: 5%;

  animation: tilt 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

.fa-tint {
  position: absolute;
  bottom: 28%;
  left: 12%;
  color: rgb(85, 169, 238);
}

.foodBowl {
  position: absolute;
  top: 5%;
  left: 30%;
  width: 20%;
  padding: 2.5em;
  border: 7px dashed lightgray;
  border-radius: 50%;
}

.wolfHut {
  position: absolute;
  right: 10%;
  top: 30%;
}
@keyframes rotate {
  to {
    transform: rotate(90deg);
  }
}

@keyframes scale {
  to {
    transform: scale(3);
  }
}

@keyframes tilt {
  to {
    transform: translateX(145deg);
  }
}

@media screen and (max-width: 770px) {
  .fa-ellipsis-v {
    transform: rotate(35deg);
    position: absolute;
    top: 30%;
    left: 25%;
    width: 10%;
    color: lightgray;
  }

  .wolfPlot {
    height: 120vh;
    position: relative;
  }

  .wolf {
    position: absolute;
    bottom: 46%;
    left: 5%;
    width: 30%;
    animation: tilt 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  }

  .fa-tint {
    position: absolute;
    bottom: 38%;
    left: 12%;
    width: 5%;
    color: rgb(85, 169, 238);
  }

  .foodBowl {
    position: absolute;
    top: 5%;
    left: 30%;
    width: 40%;
    padding: 2.5em;
    border: 7px dashed lightgray;
    border-radius: 50%;
  }

  .wolfHut,
  .wolfCabin {
    position: absolute;
    right: 10%;
    top: 30%;
    width: 50%;
  }
}
