@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-height: 500vh;
  text-align: center;
  font-family: "Yusei Magic", sans-serif;
}

header {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1601068680841-515df188a50b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjJ8fHBpZyUyMGZhcm18ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: clamp(2.5rem, 1.5426rem + 4.2553vw, 5rem);
  color: pink;
  text-shadow: 2px 1px 2px rgb(236, 161, 243);
  text-decoration: underline;
}

.directions {
  text-align: center;
  font-size: clamp(1.8rem, 1.417rem + 1.7021vw, 2.8rem);
  color: pink;
  text-shadow: 2px 1px 2px rgb(236, 161, 243);
}

h2 {
  font-size: clamp(1.8rem, 1.417rem + 1.7021vw, 2.8rem);
  font-weight: bold;
}

p {
  font-size: clamp(1.2rem, 0.9702rem + 1.0213vw, 1.8rem);
  padding: 1em;
}

.scene {
  padding: 3%;

  height: calc(var(--vh, 1vh) * 100);
  height: fit-content;
}

.style1 {
  background-color: #e1e100;
  height: fit-content;
  padding: 3.2em 2em;
}

.pigWrapper,
.intro,
.droolWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4em 1.2em;
}

.intro {
  background-image: url("https://images.unsplash.com/photo-1444858291040-58f756a3bdd6?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8ZmFybXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.6), 2px 1px 2px rgba(0, 0, 0, 0.6);
}

.pathImg {
  background-image: url("https://images.unsplash.com/photo-1518534249708-e8f3537753ee?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.6), 2px 1px 2px rgba(0, 0, 0, 0.6);
}

.pig1,
.pig2,
.pig3,
.motherPig {
  width: clamp(70px, 30vw, 280px);
  padding: 2.5em;
}

.imgRotate {
  display: inline-block;
  animation: rotate 0.2s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

.strawHut,
.logCabin,
.brickHouse {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: fit-content;
}

.strawHut img,
.logCabin img,
.brickHouse img {
  margin: 1.8em 5em;
  width: clamp(100px, 30vw, 350px);
}

.wolfBlowing,
.wereWolf,
.house,
.pigRun {
  width: clamp(80px, 22vw, 300px);
}

.imgScale {
  display: inline-block;
  animation: scale 0.2s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

.fa-ellipsis-v {
  transform: rotate(55deg);
  position: absolute;
  width: clamp(20px, 10vw, 50px);
  top: 22%;
  left: 27%;
  color: lightgray;
}

.wolfPlot {
  height: 100vh;
  position: relative;
}

.wolf {
  position: absolute;

  bottom: 34%;
  left: 15%;
  width: clamp(100px, 20vw, 300px);
  animation: tilt 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

.wolfDrool {
  position: absolute;
  width: clamp(10px, 20vw, 30px);
  bottom: 30%;
  left: 22%;
  color: rgb(85, 169, 238);
}

.foodBowl {
  position: absolute;
  top: 5%;
  left: 35%;
  width: clamp(100px, 30vw, 250px);
  padding: 2.5em;
  border: 7px dashed lightgray;
  border-radius: 50%;
}

.wolfHut,
.wolfCabin {
  position: absolute;
  width: clamp(200px, 30vw, 600px);
  right: 10%;
  bottom: 15%;
}

.wind {
  opacity: 0.7;
  width: clamp(100px, 10vw, 150px);
}

.rightFace {
  transform: scaleX(-1) rotate(-38deg);

  filter: flipH;
}

.wolfSleep {
  display: flex;
  justify-content: space-around;
}

.wolfSleep img {
  width: clamp(100px, 10vw, 150px);
}

.nightSky {
  background-image: url("https://images.unsplash.com/photo-1542752318-22530cb33d09?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
  color: white;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.6), 2px 1px 2px rgba(0, 0, 0, 0.6);
}

.droolWrapper {
  display: flex;
}
.drop1,
.drop2,
.drop3 {
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  color: rgb(85, 169, 238);
  width: clamp(10px, 7vw, 70px);
}

.drop1,
.drop2 {
  margin-top: -5.2em;
}

.drop3 {
  margin-top: -6.5em;
  margin-left: 2em;
}

.kitchen {
  background-image: url("https://images.unsplash.com/photo-1543393470-b2c833b98dce?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.6), 2px 1px 2px rgba(0, 0, 0, 0.6);
}

[data-aos="spin"] {
  transform: rotate(1080deg);
  transition-property: transform;
}

[data-aos="spin"].aos-animate {
  transform: rotate(0deg);
}

[data-aos="sleep"] {
  transform: translateX(0deg);
  transition-property: transform;
}

[data-aos="sleep"].aos-animate {
  transform: rotate(45deg);
}

[data-aos="rock"] {
  transform: translateX(25deg);
  transition-property: transform;
}

[data-aos="rock"].aos-animate {
  transform: rotate(-10deg);
}

[data-aos="grow"] {
  transform: scaleY(0.5);
  transition-property: transform;
}

[data-aos="grow"].aos-animate {
  transform: scaleY(2.5);
}

[data-aos="double"] {
  transform: scale(0.5);
  transition-property: transform;
}

[data-aos="double"].aos-animate {
  transform: scale(2);
}

[data-aos="shrink"] {
  transform: scale(1.2);
  transition-property: transform;
}

[data-aos="shrink"].aos-animate {
  transform: scale(0.4);
  opacity: 0.3;
}

/* @keyframes rotate {
  to {
    transform: rotate(90deg);
  }
}

@keyframes scale {
  to {
    transform: scale(3);
  }
}

@keyframes tilt {
  to {
    transform: translateX(145deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(1080deg);
  }
} */

/* @media screen and (max-width: 770px) {
  .wolfPlot {
    height: 120vh;
    position: relative;
  }

  .wolf {
    position: absolute;
    bottom: 46%;
    left: 5%;
    width: 30%;
    animation: tilt 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  }

  .wolfDrool {
    position: absolute;
    bottom: 38%;
    left: 12%;
    width: 5%;
    color: rgb(85, 169, 238);
  }

  .foodBowl {
    position: absolute;
    top: 5%;
    left: 30%;
    width: 40%;
    padding: 2.5em;
    border: 7px dashed lightgray;
    border-radius: 50%;
  }

  .wolfHut,
  .wolfCabin {
    position: absolute;
    right: 10%;
    top: 30%;
    width: 50%;
  }
} */
